:root {
    --Primary: #3C54A3;
    --Secondary: #F8E306;
    --Darkblue: #04071C;
    --Black: #0B0B0B;
    --White: #fff;
}

body {
    font-family: 'Lexend', sans-serif;
    background-color: var(--Primary);
}


/* Navbar */

.nav-link {
    font-size: 18px;
    color: white!important;
    font-weight: 400;
}

.nav-link.active {
    font-weight: 700;
}


/* Navbar end */


/* Button */

.button-daftar {
    width: 90px;
    height: 33px;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    color: white;
    font-size: 18px;
    font-weight: 400;
    margin-right: 6px;
}

.button-masuk {
    width: 90px;
    height: 33px;
    border: none;
    border-radius: 5px;
    background-color: var(--Secondary);
    font-size: 18px;
    font-weight: 700;
}


/* Button end */


/* Hero */

#hero {
    height: 100vh;
    width: 100%;
    background: linear-gradient(180deg, #3C54A3 0%, #000C34 100%);
    margin-top: 90px;
}

.hero-img {
    width: 580px;
    height: 550px;
    flex-shrink: 0;
}

.hero-text h1 {
    color: var(--White);
    font-size: 52px;
    font-weight: 800;
    line-height: normal;
}

#yellow {
    color: var(--Secondary);
    font-weight: 800;
    line-height: normal;
}

.hero-text h3 {
    color: var(--White);
    font-weight: 500;
    line-height: normal;
    margin: 31px 0px;
}

.hero-text p {
    color: var(--White);
    font-size: 24px;
    font-weight: 400;
    line-height: normal;
    width: 60%;
}

.yellow2 {
    color: var(--Secondary);
}

.button-lg {
    width: 255px;
    height: 65px;
    flex-shrink: 0;
    border: none;
    border-radius: 15px;
    background: var(--Secondary);
    color: var(--Black);
    text-align: center;
    font-family: Lexend;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 50px;
}


/* Hero End */


/* Footer */

footer {
    background-color: var(--Darkblue);
}

footer h3 {
    color: #FFF;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 20px;
}

footer img {
    margin-right: 15px;
}

footer p {
    color: #FFF;
    font-weight: 400;
    line-height: normal;
}

footer a {
    color: var(--White);
    text-decoration: none;
}


/* Footer End */