:root {
    ---primary: #3C54A3;
    ---secondary: #F8E306;
    ---darkblue: #04071C;
    ---black: #0B0B0B;
}

body {
    font-family: 'Lexend', sans-serif;
    background-color: var(---primary);
}

.nav-link {
    font-size: 18px;
    color: white!important;
    font-weight: 400;
}

.nav-link.active {
    font-weight: 700;
}