:root {
    ---primary: #3C54A3;
    ---secondary: #F8E306;
    ---darkblue: #04071C;
    ---black: #0B0B0B;
}

body {
    font-family: 'Lexend', sans-serif;
    background-color: var(---primary);
}


/* Navbar */

.nav-link {
    font-size: 18px;
    color: white!important;
    font-weight: 400;
}

.nav-link.active {
    font-weight: 700;
}


/* Navbar end */


/* Button */

.button-daftar {
    width: 90px;
    height: 33px;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    color: white;
    font-size: 18px;
    font-weight: 400;
    margin-right: 6px;
}

.button-masuk {
    width: 90px;
    height: 33px;
    border: none;
    border-radius: 5px;
    background-color: var(---secondary);
    font-size: 18px;
    font-weight: 700;
}


/* Button end */